@mixin setDefaultIcon($opsz: 20) {
  font-variation-settings: "OPSZ" $opsz, "wght" 300, "GRAD" 0, "FILL" 0;
}

span.size-20 {
  font-size: 20px;
  @include setDefaultIcon(20);
}

span.size-24 {
  font-size: 24px;
  @include setDefaultIcon(24);
}

span.size-40 {
  font-size: 40px;
  @include setDefaultIcon(40);
}

span.size-48 {
  font-size: 48px;
  @include setDefaultIcon(48);
}
